
#main h2{
   
    height: 30px; font-size: 0;
    background-color: #f2f2f2;
    background-position: 10px 60%;
    background-repeat: no-repeat;
    -webkit-background-size: 142px 15px;
    background-size: 142px 15px;
  
  
}
#main ul{
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 4px #dddcdc;
    box-shadow: 0px 2px 4px #dddcdc;
    margin-bottom: 6px;
}
#main ul li{
    float: left; width: 25%; border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9; text-align: center; 
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#main ul li a{
    display: block; padding: 55px 0 10px;
    background-position: center 10px;
    background-repeat: no-repeat;
    -webkit-background-size: 35px;
    background-size: 35px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#main ul li a.active{
	background-color: #f2f2f2 !important;
}
#backToaddrecord{
	position:relative;
}
#ToMapStyle{
	position:absolute;
	top:0px;
	right:2px;
}



.record {position: relative;margin-bottom: 10px;background: #E8E9ED;}	
.photo {width: 100%;height:200px;}	
.note {width: 100%;height:200px;margin-left:10px;margin-right:10px;}
.rectime {font-size: 14px; padding-left: 10px; padding-bottom: 2px; padding-top: 7px;}	
.rectype {font-size: 9px; color: #A7A7AB; padding-left: 10px; padding-bottom: 7px; padding-top: 5px;}	

		
.cardr {position: absolute; width: 40px; right: 10px; bottom: 0px;}	
.rightarrow {height: 9px; padding-right: 5px;}	
	
.vd {color: #D9D9DD;}	
/* 分享按钮点击 */	
.cardr {background-image: url(../image/share_icon_normal.png); height: 40px; background-size: 40px; bottom: 0px;}	
.sharehover {background-image: url(../image/share_icon_pressed.png) !important;}	

